<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tab 1</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  My first tab content
 
  <ion-button expand="block" routerLink="/menu/first/tabs/tab1/details" routerDirection="forward">
    Details forward
  </ion-button>
 
</ion-content>